.portfolio-list-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.5fr 0.5fr 0.5fr 0.3fr 0.2fr;
  align-items: center;
}
.portfolio-list-column-names {
  background-color: #009688;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 6px 10px #ffffff20;
  padding: 12px 4px;
  margin-bottom: 10px;
}
.portfolio-list {
  margin: auto;
  max-width: 1200px;
}

.delete-button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
}

.portfolio-list-item-name {
  display: flex;
  align-items: center;
}
.portfolio-list-item-name img {
  margin: 5px;
  margin-right: 15px;
}
