.row-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr;
  text-align: end;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 0.4rem;
  font-weight: 500;
}
.row-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.row-name-container {
  display: flex;
  align-items: center;
}
.row-name-container img {
  margin-right: 1rem;
}
/*Column names*/

.column-names {
  margin-top: 3rem;
  background-color: #3f51b5;
}
