.row-container {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr 1fr 1fr;
  text-align: end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: none;
  padding: 0.4rem;
  font-weight: 500;
}
.row-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.row-name-container {
  display: flex;
  align-items: center;
}
.row-name-container img {
  margin-right: 1rem;
}
/*Column names*/

.column-names {
  margin-top: 3rem;
  background-color: #363636;
}
.column-names:hover {
  background-color: #363636;
  cursor: initial;
}
.search-coins-input {
  width: 100%;
  background: #fff;
}
